@charset "utf-8";
body {
	font: 0.875em/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #F5F5F5;
	margin: 0;
	padding: 0;
	color: #000;
}
header, section, footer, aside, article, figure {
	display: block;
}
ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 2.5%;
	padding-left: 2.5%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Arial;
}
a img {
	border: none;
}
a:link, a:visited {
	color: #0B486B;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}

header {
	width:100%;
	background-color: #0B5187;
	overflow: hidden;
}
header h1 {
	margin: 0;
	font-size: 3.43em; 
}
header img {
	float: left;
	margin-right: 1.04%;
}

img {
	max-width: 100%;
}
